{% block sidebar %}
    <style>
        .card{
            box-shadow: 0 16px 48px #E3E7Eb;
        }
    </style>

    <div class="col-md-4 float-right">
        <div class="card my-4">
            <h5 class="card-header">About us</h5>
            <div class="card-body">
                <p class="card-text">
                    We are beneficiaries of AboCoders Project with Aspilos Foundation,
                    click the link to get more information on this wonderful opportunity..!
                </p>
                <a href="https://aspilosfoundation.org.ng" class="btn btn-danger">
                    Know more!
                </a>
            </div>
        </div>
    </div>
{% endblock sidebar %}